{% extends 'base.html' %} {% block content %}

<form method="post">
<div class="row mt-4">
  <div class="form-group col-sm-3 col-12">
    <label for="name">Name</label>
    <input
    type="text"
    name="name"
      placeholder="Contact name"
      class={%if 'name' in errors%}"form-control is-invalid"{%else%}"form-control"{%endif%}
      value="{{ request.form['name']  }}"
      required
      maxlength="100"
      />
    {%if 'name' in errors%}
    <span class="invalid-feedback">{{errors['name']}}</span>
    {%endif%}
  </div>
  <div class="form-group col-sm-3 col-12">
    <label for="phone">Phone</label>
    <input
      type="text"
      name="phone"
      placeholder="Phone number"
      class={%if 'phone' in errors%}"form-control is-invalid"{%else%}"form-control"{%endif%}
      value="{{ request.form['phone']  }}"
      pattern="\d*"
      maxlength="10"
      title="Only numbers allowed for phone number"
      />
    {%if 'phone' in errors%}
    <span class="invalid-feedback">{{errors['phone']}}</span>
    {%endif%}
  </div>
  <div class="form-group col-sm-3 col-12">
    <label for="contact_type">Contact type</label>
    <select
    name="contact_type"
      class={%if 'contact_type' in errors%}"form-control is-invalid"{%else%}"form-control"{%endif%}
      value="{{ request.form['contact_type']  }}"
    >
      <option value="contact_type1">contact_type1</option>
      <option value="contact_type2">contact_type2</option>
      <option value="contact_type3">contact_type3</option>
    </select>
    {%if 'contact_type' in errors%}
    <span class="invalid-feedback">{{errors['contact_type']}}</span>
    {%endif%}
  </div>
  <div class="form-group col-sm-3 col-12">
    <label for="birthdate">Birth date</label>
    <input
      type="date"
      name="birthdate"
      placeholder="birth date"
      class={%if 'birthdate' in errors%}"form-control is-invalid"{%else%}"form-control"{%endif%}
      value="{{ request.form['birthdate']  }}"
      required
    />
    {%if 'birthdate' in errors%}
    <span class="invalid-feedback">{{errors['birthdate']}}</span>
    {%endif%}
  </div>
  <div class="form-group col-12">
    <label for="description">Description</label>
    <textarea
      id="summernote"
      name="description"
      placeholder="Contact description"
      class="form-control"
    >
    {{ request.form['description']  }}
</textarea
    >
  </div>
  <div class=" col-12 form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</div>
</form>
{% endblock %}
