{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Edit Contact {% endblock %}</h1>

<div class='row'>
  <div class="col-sm-3 col-12">
    <span>Name:</span>
    <span>{{contact['CONTACT_NAME']}}</span>
  </div>
  <div class="col-sm-3 col-12">
    <span>Phone:</span>
    <span>{{ contact['PHONE']  }}<span/>
  </div>
  <div class="col-sm-3 col-12">
    <span>Contact type:</span>
    <span>{{ contact['CONTACT_TYPE']  }}<span/>
  </div>
  <div class="col-sm-3 col-12">
    <span>Birth date:</span>
    <span>{{ contact['BIRTHDATE']  }}<span/>
  </div>
  <div class="col-12">
    {{ contact['DESCR']|safe  }}
  </div>
  <div class="col-12">
    <a  href="{{url_for('editContact', contact_name=contact['CONTACT_NAME'])}}">
      Edit
    </a>
  </div>
</div>
{% endblock %}
